/* mobile first!! */
/* want unique view in mobile, tablet, and desktop (change dimensions and colors) */
/* use relative units and two+ breakpoints */

body {
  margin: 15px;
}

header {
  background-color: rgb(2, 53, 56);
  height: 75px;
  line-height: 75px;
}

aside {
  background-color: rgb(10, 85, 88);
  height: 150px;
  line-height: 150px;
}

section {
  height: 125px;
  line-height: 125px;
}

.left {
  width: 50%;
  height: 250px;
  line-height: 250px;
  float: left;
}

.right {
  width: 50%;
  height: 250px;
  line-height: 250px;
  float: right;
}

#c {
  background-color: rgb(29, 119, 122);
}

#d {
  background-color: rgb(42, 144, 148);
}

#e {
  background-color: rgb(63, 204, 209);
}

#f {
  background-color: rgb(123, 234, 238);
}

#g {
  background-color: rgb(95, 151, 153);
}

#h {
  background-color: rgb(159, 216, 218);
}

#footer {
  background-color: rgb(195, 245, 247);
  height: 80px;
  line-height: 80px;
  clear: both;
}

/* TABLET view below */

@media only screen and (min-width: 481px) and (max-width: 650px){

  body{
    max-width: 100%;
  }

  header{
    background-color: #8B7B5E;
  }

  aside {
    background-color: #a8987a;
  }

  #c {
    background-color: #5DA69E;
  }

  #d {
    background-color: #E8744E;
  }

  #e {
    background-color: #759484;
  }

  #f {
    background-color: #92b1a1;
  }

  #g {
    background-color: #A9AC8C;
  }

  #h {
    background-color: #d0d3b4;
  }

  #footer {
    background-color: #EBF1A8;
  }
}

/* DESKTOP view below */

@media only screen and (min-width: 651px){

  body{
    max-width: 100%;
  }

  header{
    background-color: rgb(88, 2, 88);
    height: 100px;
    line-height: 100px;
  }
    
  main{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 40% 40% 20%;
  }

  aside{
    background-color: rgb(104, 22, 104);
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* grid-column: 1 / 2; */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-row: 1 / 4; */
    grid-area: 1 / 1 / 4 / 2; 
    height: 100%;
    line-height: 35em;
  }

  section{
    grid-column-start: span 1;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    height: 100%;
    line-height: 14em;
  }

  div{
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
  }

  #c {
    background-color: rgb(139, 46, 139);
  }
  
  #d {
    background-color: rgb(167, 72, 167);
  }
  
  #e {
    background-color: rgb(204, 103, 204);
  }
  
  #f {
    background-color: rgb(240, 140, 240);
  }
  
  #g {
    background-color: rgb(235, 157, 235);
  }
  
  #h {
    background-color: rgb(241, 192, 241);
  }

  #footer{
    background-color: rgb(245, 212, 245);
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    line-height: 8em;
  }
}
    
    